* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Akkurat';
}

@font-face {
    font-family: 'Akkurat';
    src: url('Akkurat-Bold.eot');
    src: url('Akkurat-Bold.eot?#iefix') format('embedded-opentype'), url('Akkurat-Bold.woff2') format('woff2'), url('Akkurat-Bold.woff') format('woff'), url('Akkurat-Bold.svg#Akkurat-Bold') format('svg');
    font-weight: 800;
    font-style: bold;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'Akkurat';
    src: url('Akkurat-Light.eot');
    src: url('Akkurat-Light.eot?#iefix') format('embedded-opentype'), url('Akkurat-Light.woff2') format('woff2'), url('Akkurat-Light.woff') format('woff'), url('Akkurat-Light.svg#Akkurat-Light') format('svg');
    font-weight: 200;
    font-style: light;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family: 'Akkurat';
    src: url('Akkurat.eot');
    src: url('Akkurat.eot?#iefix') format('embedded-opentype'), url('Akkurat.woff2') format('woff2'), url('Akkurat.woff') format('woff'), url('Akkurat.svg#Akkurat') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

a {
    text-decoration: none;
}

:root {
    --blue: #0E0D75;
    --red: #CB4D2C;
    --yellow: #FFFA53;
    --blueLight: #1A18C3;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: aliceblue;
    padding: 20px;
}

nav a {
    color: var(--blue);
}

nav a.active {
    color: var(--red);
}

main {
    padding: 100px 0;
    background-color: black;
    color: #fff;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.btn {
    background-color: white;
    border: 2px solid green;
    padding: 10px 20px;
    position: relative;
    color: var(--blue);
    display: inline-block;
}

.btn:after {
    content: '';
    position: absolute;
    background-color: var(--blue);
    top: 8px;
    left: 8px;
    right: -8px;
    bottom: -8px;
    z-index: -1;
}

.btn:hover {
    color: white;
    background-color: green;
    transition: all 0.3s ease;
}

.btn:hover:after {
    background-color: white;
    border: 2px solid green;
    transition: all 0.3s ease;
}

h1 {
    font-size: 56px;
    color: #fff;
    text-transform: uppercase;
}

h1 span {
    color: var(--red);
    transform: translateY(-10px);
    display: inline-block;
}